# root files
root/*.pcm
root/*.d
root/*_C.so

# Ntuplefiles
EDNTuplesFiles

# HepMCFiles
HepMCFiles

# Tensorflow log files
log/*

# Jupyter notebook stuff
util/.ipynb_checkpoints

# python compiled files
*.pyc
src/*.pyc

# figures
figures/*

# commands
cmd*

# plots
*.csv
